.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.h1-header{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  background: #E8EAE6;
}
.city{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;

}